<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:feilong="http://www.feilong.com/schema/feilong"

	xsi:schemaLocation="
	http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.0.xsd  
    http://www.feilong.com/schema/feilong http://www.feilong.com/schema/feilong/feilong.xsd
    ">


	<!--
		<bean id="alipaySimpleHttpTypeBeanProperty" class="com.feilong.context.beanproperty.SimpleHttpTypeBeanProperty" p:uri="#{p_AlipayAdvance['gateway']}"
		p:method="get" />
	-->
	<feilong:httpTypeBeanProperty id="httpTypeBeanProperty" method="get" uri="www.baidu.com" />


</beans>  