<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
	xmlns:tx="http://www.springframework.org/schema/tx" xmlns:aop="http://www.springframework.org/schema/aop"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd
		http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx.xsd
		http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-4.3.xsd">


	<bean id="excelManipulatorFactory" class="loxia.support.excel.ExcelManipulatorFactory">
		<property name="config">
			<list>
				<value>loxia/subscribtion/feilong-sheets-2订阅.xml</value>
			</list>
		</property>
	</bean>

	<bean id="all订阅Writer" factory-bean="excelManipulatorFactory" factory-method="createExcelWriter">
		<constructor-arg>
			<array>
				<value>aSheet</value>
				<value>bSheet</value>
			</array>
		</constructor-arg>
	</bean>
</beans>