<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
	xmlns:p="http://www.springframework.org/schema/p" xmlns:util="http://www.springframework.org/schema/util"
	xsi:schemaLocation="
		http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.2.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.2.xsd
		http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util-3.2.xsd	
		">


	<util:properties id="p_sftp" location="file:/Users/feilong/Development/DataCommon/Files/Java/config/fileTransfer-sftp-adidas.properties"></util:properties>
	<!-- <util:properties id="p_sftp" location="file:E:\DataCommon\Files\Java\config\fileTransfer-sftp.properties"></util:properties> -->
	<util:properties id="p_sftp-sshConfig" location="classpath:config/fileTransfer-sftp-sshConfig.properties"></util:properties>

	<!-- sftp scope="prototype" -->
	<bean id="sftpFileTransfer" class="com.feilong.net.filetransfer.sftp.SFTPFileTransfer" scope="prototype">
		<property name="sftpFileTransferConfig">
			<bean class="com.feilong.net.filetransfer.sftp.SFTPFileTransferConfig">
				<property name="hostName" value="#{p_sftp['fileTransfer.sftp.hostName']}" />
				<property name="userName" value="#{p_sftp['fileTransfer.sftp.userName']}" />
				<property name="password">
					<value><![CDATA[#{p_sftp['fileTransfer.sftp.password']}]]></value>
				</property>
				<property name="port" value="#{p_sftp['fileTransfer.sftp.port']}" />

				<property name="sessionTimeout" value="#{p_sftp['fileTransfer.sftp.sessionTimeout']}" />
				<property name="sshConfig" ref="p_sftp-sshConfig" />
			</bean>
		</property>
	</bean>

	<bean class="com.feilong.net.filetransfer.MultiSFTPFileTransferDownloadServer1" />
	<bean class="com.feilong.net.filetransfer.MultiSFTPFileTransferDownloadServer2" />

</beans>