#foreach(${breadCrumbEntity} in ${breadCrumbVMParams.breadCrumbEntityList})<a href="${breadCrumbEntity.path}" title="${breadCrumbEntity.title}">${breadCrumbEntity.name}</a> #if(${velocityCount}!=${breadCrumbVMParams.breadCrumbEntityList.size()}) ${breadCrumbVMParams.connector} #end#end