<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE log4j:configuration SYSTEM "http://logging.apache.org/log4j/1.2/apidocs/org/apache/log4j/xml/doc-files/log4j.dtd">

<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/" debug="false">
	<appender name="stdout" class="org.apache.log4j.ConsoleAppender">
		<param name="Threshold" value="debug" />
		<!-- 设置监视器输出方式 -->
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%d{HH:mm:ss} %-5p (%F:%L) [%M()] %m%n" />
		</layout>
		<!--限制输出级别 -->
		<filter class="org.apache.log4j.varia.LevelRangeFilter">
			<param name="LevelMin" value="debug" />
			<param name="LevelMax" value="ERROR" />
		</filter>
	</appender>

	<category name="com.feilong">
		<priority value="debug" />
	</category>
	<category name="com.feilong.taglib.display.pager.PagerBuilder">
		<priority value="info" />
	</category>
	<category name="com.feilong.taglib.display.TagCacheManager">
		<priority value="info" />
	</category>
	<category name="com.feilong.taglib.display.httpconcat.HttpConcatUtil">
		<priority value="debug" />
	</category>
	<category name="com.feilong.core.net.URIUtil">
		<priority value="info" />
	</category>

	<category name="feilongVelocityLogger" additivity="false">
		<priority value="info" />
	</category>

	<category name="org.apache.commons.beanutils">
		<priority value="info" />
	</category>

	<category name="org.apache.velocity.runtime.log">
		<priority value="warn" />
	</category>
	<category name="org.apache.commons.digester.Digester">
		<priority value="warn" />
	</category>
	<category name="org.apache.commons.beanutils.ConvertUtilsBean">
		<priority value="warn" />
	</category>
	<category name="org.apache.commons.beanutils.converters">
		<priority value="warn" />
	</category>
	<category name="org.apache.commons.beanutils.converters.AbstractConverter">
		<priority value="warn" />
	</category>

	<!-- 设置接收所有输出的通道 -->
	<root>
		<level value="debug" />
		<appender-ref ref="stdout" />
	</root>
</log4j:configuration>