<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
	xmlns:aop="http://www.springframework.org/schema/aop" xmlns:tx="http://www.springframework.org/schema/tx" xmlns:util="http://www.springframework.org/schema/util"
	xsi:schemaLocation="
			http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.2.xsd
			http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.2.xsd
			http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-3.2.xsd
			http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util-3.2.xsd
			http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-3.2.xsd
		">

	<!-- 默认值 -->
	<bean id="simpleParamNameConfigCondition" class="com.feilong.context.SimpleParamNameConfigCondition">
		<property name="simpleParamNameValueLoader">

			<bean class="com.feilong.context.SimpleParamNameValueLoader">
				<property name="paramName" value="testNotFind" />
				<property name="ifNullDefaultValue" value="1" />
				<property name="targetTypeClass" value="java.lang.Boolean" />

				<property name="stringValueParamLoader">
					<bean class="com.feilong.context.valueloader.TestStringValueParamLoader"></bean>
				</property>
			</bean>

		</property>
	</bean>
</beans>
